h1
{
	color: #0080A6;
	background-color: #ADECFF;
	padding-top: 1px;
	border-left:  16px solid #00A0CF;
	padding-left: 6px;
	padding-bottom: 1px;
}

h2
{
	border-top:    2px solid #0080A6;
	border-left:  10px solid #0080A6;
	padding-left: 4px;
	border-bottom:  2px solid #0080A6;
}

h3
{
	border-bottom:	2px solid #000000;
	padding-bottom:	3px;
} 
